<div id="{dialog_name}" title="{dialog_title}">
	<div class="template-container">
		<a class="hidden template-model" href="#">
			<span>
				<img src="" alt="" />
				<h2></h2>
			</span>
		</a>
		<div class="foldersTab">
			<input type="radio" id="defultFolder" name="folderPicker" value="defultFolder" checked>
			<label for="defultFolder">{defultTemplate_title}</label>
			<input type="radio" id="templaterepoFolder" name="folderPicker" value="templaterepoFolder">
			<label for="templaterepoFolder">{templaterepo_title}</label>
		</div>

		<div class="folderWrapper"><div class="defultFolder"></div></div>
		<div class="hidden folderWrapper"><div class="templaterepoFolder"></div></div>
	</div>
</div>
