<div id="subscription-icon" class="icon-mail"></div>

<div id="subscription-content" class="popovermenu hidden">
    <div class="content">
        <h3>{{title}}</h3>
        <em>{{description}}</em>
        <form id="subscription-mail">
            <input id="submit-mail" type="submit" class="hidden">
            <input type="email" name="email" placeholder="{{placeholder}}">
            <label for="submit-mail" class="icon-confirm"></label>
        </form>
        <div><a id="unsubscr">{{unsubscribe}}</a></div>
        <div><span class="msg hidden"></span></div>
    </div>
</div>
